* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

:root {
    --board-size: 600px;
    --cell-size: 200px;
    --mark-size: calc(var(--cell-size) * 0.9);

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ff5e62; 
    font-family: sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: var(--board-size);
    max-height: var(--board-size);
    
}

.cell {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}


.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}


    
.cross::before,
.cross:after {
    content: " ";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.cross::before {
    transform: rotate(45deg)
}

.cross::after {
    transform: rotate(-45deg)
}

.circle::before,
.circle:after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    
}

.circle::before {
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
    background-color: white;
}

.circle::after {
    width: calc(var(--mark-size) * .6);
    height: calc(var(--mark-size) * .6);
    background: #ff5e62; 


}

.game-over {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button {
    border: none;
    width: 10rem;
    padding: 0.75rem 2rem;
    border-radius: 20px;
    cursor: pointer;    
    background-color: white;
    font-size: 1.5rem;
}

button:hover {
    background: #ff5e62;
    color: white;
}

.winning-message {
    padding: 2rem;
    color: white;
    font-size: 4rem;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}